<div id="loading">Loading images...</div>
<div id="feedContainer">
	<h1 class="mainHeader">Youth Imperial</h1>
	<div id="userFeed">
		<ul>
		<% @media['user']['feed'].each do |mediaItem|%>
			<li><img src="data:image/jpg;base64, <%= mediaItem %>" /></li>
		<% end %>
		</ul>
	</div>
	<div id="yiFeed">
		<ul>
		<% @media['yi']['feed'].each do |mediaItem| %>
			<li><img src="data:image/jpg;base64,<%= mediaItem %>" /></li>
		<% end %>
		</ul>
	</div>
</div>