
#feedContainer {
	position:relative;
	margin:10px auto;
	text-align:center;
}

.js #feedContainer {
	display:none;
}

#feedContainer p {
	width:100%;
	text-align:center;
}

#feedCanvas {
	position:relative;
	margin:0 auto;
	width:615px;
}

.mainHeader {
	position:absolute;
	margin-top:25%;
	padding-top:0;
	height:40px;
	width:100%;
	text-align:center;
	color:#cdcdcd;
}

#userFeed,
#yiFeed {
	display:block;
	float:left;
	width:400px;
	height:612px;
	overflow:hidden;
}

#userFeed ul,
#yiFeed ul {
	padding:0;
	margin:0;
}

#userFeed ul li,
#yiFeed ul li {
	padding:0;
	margin:0;
	list-style-type:none;
	display:block;
}