body {
	background:#000;
}

a {
	color:#fff;
	text-decoration:none;
}


#feedContainer {
	position:relative;
	margin:10% auto 0 auto;
	text-align:center;
}

.js #feedContainer {
	display:none;
}

#feedContainer p {
	width:100%;
	text-align:center;
}

#feedCanvas {
	position:relative;
	margin:0 auto;
	width:615px;
}

.mainHeader {
	position:absolute;
	margin-top:25%;
	padding-top:0;
	height:40px;
	width:100%;
	text-align:center;
	color:#cdcdcd;
}

#userFeed,
#yiFeed {
	display:block;
	float:left;
	width:400px;
	height:612px;
	overflow:hidden;
}

#userFeed ul,
#yiFeed ul {
	padding:0;
	margin:0;
}

#userFeed ul li,
#yiFeed ul li {
	padding:0;
	margin:0;
	list-style-type:none;
	display:block;
}

.galleryContainer {
	position:absolute;
	top:150px;
	width:25%;
	min-width:200px;
	height:200px;
	overflow:hidden;
}

.gallery {
	position:relative;
	width:150%;
	height:100%;
	margin:0;
	padding:0;
}

.gallery_user {
	left:10px;
}

.gallery_yi {
	right:10px;
}

.gallery_user .gallery {
	float:right;
	margin:0;
	padding:0;
}

.gallery_yi .gallery {
	float:left;
}

.gallery li {
	display:block;
	list-style-type:none;
	margin:0 5px;
}

.gallery_user li {
	float:right;
}

.gallery_yi li {
	float:left;
}

.gallery li.current {
	display:none;
}

.gallery li img {
	width:200px;
}
